html, body {
  height: 100%;
}

body {
  margin: 0; 

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

#input {
  width: calc(100% - 25em);
  min-width: 25em;
  background-color: #eee;

  -webkit-flex: 1 0 25em;
  -ms-flex: 1 0 25em;
  flex: 1 0 25em;
}

#input textarea,
#input p {
  width: calc(100% - 2em);
  height: calc(100% - 5em);
  top: 0;
  resize: none;
  border: 0;
  padding: 1em;
  margin: 0;
  font-size: 1.2em;
  font-family: monospace;
}

#input textarea {
  /*background-color: rgba(0,0,0,0.1);*/
  /*color: rgba(0,0,0,0);*/
}

#input p{
  position:relative;
  top: calc(43px - 100%);
  /*background-color: rgba(255,0,0,0.1);*/
  pointer-events: none;
  white-space: pre-wrap;
}

#controls {
  -webkit-flex: 0 0 25em;
  -ms-flex: 0 0 25em;
  flex: 0 0 25em;

  background-color: #ddd;
  border-left: 1px solid #eee;
  height: 100%;
  width: 25em;
}

#controls div{
  position: absolute;
  width: 12.5em;
  height: 100%; 
}

form {
  background-color: #fff;
}

div#feedback{
  /*width: 100%;*/
  top: 3em;
  height: calc(100% - 3em);
}

#feedback p {
  height: 1em;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0.7em 0;

  display: none;
}

ul,
ol { 
  height: calc(100% - 3em);
  width: 10em;
  overflow-y: auto;
  margin: 0;
}

ul {
  list-style: none;
  left: 0;
}

div#acceptable{
  height: 85%;
}

div#out-of-range{
  top: 85%;
  height: 15%;
  background-color: #fee;
}
#out-of-range p {
  color: #800;
}

#ordered{
  left: 12.5em;
}

#ordered li.highlight {
  background-color: rgba(255,0,0,0.2);
  font-weight: bold;
}

